<div class="row">
                  <div class="col-lg-12">
                      <section class="panel">
                          <header class="panel-heading">
                              Service List 
                          </header>
                          <div class="panel-body">

                    {{#if success_msg}}
                          <div class="alert alert-success">{{success_msg}}</div>
                        {{/if}}

                        {{#if services}}
                              <div class="table-responsive" style="overflow: hidden;" tabindex="1">
                                  <table class="table table-bordered">
                                      <thead>

                                      <tr>
                                          <th>Serial No.</th>
                                          <th>Photo</th>
                                          <th>Name</th>
                                          <th>Price</th>
                                          <th>Minutes</th>
                                          <th>Price</th>
                                          <th>Icon</th>
                                          <th>Created at</th>
                                          <th>Edit/Delete</th>
                                      </tr>
                                      </thead>
                                      <tbody>
                                      <tr>
                                      {{#each services}}
                                          <th scope="row"> {{inc @index}}</th>
                                          <td><img src="/uploads/service/{{this.service_image_path}}" height="40px" width="40px;"></td>
                                          <td>{{this.service_name}}</td>
                                          <td>{{this.service_desc}}</td>
                                          <td>{{this.service_min}}</td>
                                          <td>{{this.service_price}}</td>
                                          <td>{{this.service_icon}}</td>
                                          <td>{{this.created_date}}</td>
                                          <td>
                                   <a href="/service/edit/{{this._id}}" class="btn btn-success">
                                  <i class="fa fa-pencil"></i></a>
                                  <a href="/service/delete/{{this._id}}" class="btn btn-danger">
                                  <i class="fa fa-trash-o"></i></a>
               
                                          </td>
                                      </tr>
                                       {{/each}}
                                     
                                      </tbody>
                                  </table>
                                  {{else}}

                                 No Service Please Add New Service Thank you 

                                  {{/if}}
                              </div>
                          </div>
                      </section>
                  </div>
              </div>
